.post {
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 0.5rem;
}

.post-user {
	font-weight: bold;
	color: crimson;
	margin-bottom: 0.5rem;
}

.post-user img {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 1rem;
	margin-right: 0.25rem;
	vertical-align: bottom;
}

.post-text {
	color: #444;
}

.post-form {
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 1.5rem;
}