div {
  border: 1px solid #000000;
  padding: 1em;
  margin: 1em;
}

.top {
  display: flex;
}
.container {
  display: flex;
}

.left {
  order: 1;
  flex-basis: 20%;
}

.main {
  order: 2;
  flex-basis: 60%;
}

.right {
  order: 3;
  flex-basis: 20%;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .top {
    width:100vw;
  }
}