div {
    border: 1px solid #000000;
    padding: 1em;
}

.outer {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 24rem;
}

.middle {
    display: flex;
    justify-content: space-between;
    height: 1.2rem;
    width: 22rem;
}

.inner {
    height: 1.2rem;
    width: 3rem;
    align-self: flex-end;
    margin-right: -9%;
    margin-bottom: 1.1rem;
}


